<section id="about" class="wait item">
  <hr
    class="border-[rgb(31,32,47)] max-w-[520px] xl:max-w-3xl self-center mx-auto my-[120px]"
  />

  <article
    class="w-full sm:w-3/4 xl:w-4/6 2xl:w-3/5 max-w-3xl m-auto px-5 xl:px-0 text-center sm:text-left"
  >
    <h2 class="text-5xl leading-normal font-extrabold text-white tracking-tight">
      About
    </h2>
    <p class="text-gray font-semibold text-lg pt-3 mb-10 2xl:pl-0 tracking-tight">
      A quick summary of the things I've done. Sorted chronologically.
    </p>
  </article>
  <article
    class="w-full sm:w-3/4 xl:w-4/6 2xl:w-3/5 max-w-3xl m-auto px-7 my-10"
  >
    <ol class="relative border-l border-blue text-gray">
      <li class="mb-10 ml-4">
        <div
          class="absolute w-3 h-3 bg-blue rounded-full mt-1.5 -left-[0.413rem] border-2 border-black bg-gray-700"
        >
        </div>
        <time
          class="mb-1 text-sm leading-none font-semibold text-gray-500 tracking-tight text-blue"
          >February 2022 - Present</time
        >
        <h3 class="text-lg font-semibold text-white tracking-tight">
          University
        </h3>
        <p class="text-base font-normal text-gray text-gray-400 tracking-tight">
          As a software development student at the university, I have the opportunity to participate in various research projects, including the development of an application to record and organize achievements at the institution. In addition to my academic pursuits, I also engage in freelance software development work. <br />
        </p>
      </li>
      <li class="mb-10 ml-4">
        <div
          class="absolute w-3 h-3 bg-blue rounded-full mt-1.5 -left-[0.413rem] border-2 border-black bg-gray-700"
        >
        </div>
        <time
          class="mb-1 text-sm leading-none font-semibold text-gray-500 tracking-tight text-blue"
          >September 2019 - 2021</time
        >
        <h3 class="text-lg font-semibold text-white tracking-tight">
          Software developer student
        </h3>
        <p class="text-base font-normal text-gray text-gray-400 tracking-tight">
          I completed a higher level training program in which I have gained knowledge and skills in the areas of networking, programming, and operating systems. As a result of this training, I earned several Cisco certificates. In my work experience, I have installed and configured CentOS on a VMware ESXi server and provided basic services such as DNS and firewall for a Moodle platform for students.<br />
        </p>
      </li>
    </ol>
    
  </article>
</section>

<style>

  section {
    background: radial-gradient(
      ellipse 50% 50% at 80% 50%,
      rgba(29, 81, 204, 0.059),
      rgba(255, 255, 255, 0)
    );
  }

  .item {
    transition: 0.3s;
  }

  .wait {
    opacity: 0;
  }

  .show {
    opacity: 1;
    animation: 1000ms ease 100ms 1 normal backwards running tres;
  }

  @keyframes tres {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
</style>